<h2>Products</h2>

<ul>
  <li *ngFor="let product of products | async">
    <div>
      <div>
        <h4>{{ product.name }}</h4>
        <span>{{ product.published_at | date }}</span>
      </div>
      <p>{{ product.description }}</p>
      <div class="likes-container">
        <span
          ><mat-icon>thumbs_up_down</mat-icon>{{ product.likes_count }}</span
        >
        <span><mat-icon>thumb_up</mat-icon>{{ product.likes_up_count }}</span>
        <span
          ><mat-icon>thumb_down</mat-icon>{{ product.likes_down_count }}</span
        >
      </div>
    </div>
  </li>
</ul>
