ul{
  list-style: none;
  padding: 0;
  margin: 0;
  & li{
    margin-top: 5px;
  }
  a{
    text-decoration: none;
    color: white;
    &:hover{
      color: rgb(1, 1, 125);
    }
  }
}