<div class="single-prod">
  <div class="img-prod">
    <img [src]="prod.image.url" alt="" height="600px" />
  </div>
  <div class="info">
    <h1>{{ prod.name }}</h1>
    <h2>{{ prod.master.price | currency }}</h2>
    <p>{{ prod.description }}</p>
    <hr />
    <p>sku: {{ prod.master.sku }}</p>
    <p>category: {{ prod.category.name }}</p>
    <div>
      <button
        mat-button
        #like
        [value]="prod.id"
        (click)="likeAndNotBtn(like.value, up)"
      >
        <mat-icon>thumb_up</mat-icon>
      </button>
      <span>{{ prod.likes_up_count }}</span>
      <button
        mat-button
        #dislike
        [value]="prod.id"
        (click)="likeAndNotBtn(dislike.value, down)"
      >
        <mat-icon>thumb_down</mat-icon>
      </button>
      <span>{{ prod.likes_down_count }}</span>
    </div>
    <span> <mat-icon>thumbs_up_down</mat-icon>{{ prod.likes_count }} </span>
  </div>
</div>
