<p>
  <mat-toolbar>
    <button
      routerLink="/"
      mat-icon-button
      aria-label="icon-button with menu icon"
    >
      <mat-icon>home</mat-icon>
    </button>
    <span>Login App</span>
    <div *ngIf="isLoggedIn()">
      <app-search></app-search>
    </div>
    <span class="spacer"></span>
    <div *ngIf="!isLoggedIn()">
      <button
        routerLink="/login"
        mat-icon-button
        aria-label="icon-button with heart icon"
      >
        Login
      </button>
    </div>
    <div *ngIf="isLoggedIn()">
      <button
        routerLink="/cart"
        mat-icon-button
        aria-label="icon-button with heart icon"
      >
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
    <div *ngIf="isLoggedIn()">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="icon-button with a menu"
      >
        <img
          src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
          alt=""
          width="50px"
          height="50px"
        />
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <div *ngIf="isLoggedIn()"><app-profile></app-profile></div>
      <button
        (click)="logoutClick()"
        mat-icon-button
        aria-label="icon-button with share icon"
      >
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  </mat-toolbar>
</p>
