.container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.sidenav-container{
  width: 200px;
  padding: 10px;
}
.main-content{
  margin: 10px;
  color: black;
}